* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-image: url('images/istockphoto-2179695712-612x612_2025-09-09_01_03_53.588147.jpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

header {
    background-color: #02734A;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.header-container {
    display: flex;
    gap: 30px;
    border: 5px solid #040504;
    border-radius: 8px;
    padding: 12px 24px;
    margin: 20px auto;
    width: fit-content;
    background: #fff;
    color: #53913D;
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    word-spacing: 15px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.background-image-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 200px;
    overflow: hidden;

}

.background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.timeline {
    position: relative:
    max-width: 1200px;
    margin: 100px auto;
    font-family: 'Outfit', sans-serif;
}

.timeline-header2, .timeline-header, h1 {
    font-family: 'League Spartan', sans-serif;
    background-color: #040504;
    padding: 15px;
    border-radius: 8px;
}

.timeline-header-container {
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.timeline-container:nth-child(1) {
    animation-delay: 0s;
}

.timeline-container:nth-child(2) {
    animation-delay: 1s;
}

.timeline-container:nth-child(3) {
    animation-delay: 2s;
}

.timeline-container:nth-child(4) {
    animation-delay: 3s;
}

.timeline-container:nth-child(5) {
    animation-delay: 4s;
}

.timeline-container:nth-child(6) {
    animation-delay: 5s;
}

.timeline-text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.timeline-text-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
    display: block;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%
}

.timeline-container img {
    position: absolute;
    width: 40px;
    border-radius: 16%;
    right: -20px;
    top: 32px;
    width: 42px;
    height: 42px;
    z-index: 10;
}

.timeline-container iframe {
    padding-top: 13px;
}

.right-container img{
    left: -20px;

}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px){

    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .timeline-text-box {
        font-size: 13px;
    }
    .timeline-text-box {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img, .right-container img {
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

.timeline-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -5px;
    font-family: wanted-bold;
    padding-left: 47px;
    color: #fff;
}

.timeline-header2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -5px;
    font-family: wanted-bold;
    padding-right: 47px;
    color: #fff;
    text-align: right;
}